# OS / Editor
.DS_Store
Thumbs.db
*.swp
*.swo
.vscode/
.idea/

# Node
node_modules/
dist/

# Python
.venv/
__pycache__/
*.py[cod]

# Java / Maven
*.class
*.log
.target/
**/target/

# Docker / Compose
*.pid

# Cartes data outputs
cartes/data/antananarivo.mbtiles
cartes/data/osm/
cartes/data/fonts/
cartes/data/files/
cartes/data/coastline/
cartes/data/styles/**/sprite*

# Secrets
.env

travaux-routiers-back/src/main/resources/serviceAccountKey.json

travaux-routiers-back/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
travaux-routiers-back/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
