# Maven / Java
target/
*.class
*.log

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Env
.env
# Firebase credentials
serviceAccountKey.json
src/main/resources/**/serviceAccountKey.json
**/serviceAccountKey.json
