name: authentification
services:
  app:
    # REMPLACE image: par build:
    build: 
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    volumes:
      - .:/app                     # Lie ton code source au conteneur
      - maven-cache:/root/.m2      # Garde les dépendances en cache (évite le timeout TLS)
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/auth_db
      SPRING_DATASOURCE_USERNAME: user
      SPRING_DATASOURCE_PASSWORD: password
      # Ajoute ta clé Firebase ici si elle n'est pas dans ton application.properties
      # FIREBASE_API_KEY: ta_cle_ici 
    networks:
      - shared

networks:
  shared:
    external: true
    name: project_shared

volumes:
  maven-cache:
