services:
  db:
    image: postgres:18-alpine # Version plus légère et précise
    container_name: postgres_db
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: auth_db
    ports:
      - "5433:5432"  # mappe le port interne 5432 vers 5433 sur l'hôte
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d auth_db"]
      interval: 5s
      timeout: 5s
      retries: 5


  app:
    # REMPLACE image: par build:
    build: 
      context: .
      dockerfile: Dockerfile
    container_name: spring_app
    ports:
      - "8080:8080"
    restart: on-failure
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/auth_db
      SPRING_DATASOURCE_USERNAME: user
      SPRING_DATASOURCE_PASSWORD: password
      # Ajoute ta clé Firebase ici si elle n'est pas dans ton application.properties
      # FIREBASE_API_KEY: ta_cle_ici 
    depends_on:
      db:
        condition: service_healthy