services:
  db:
    image: postgres:18-alpine
    container_name: postgres_db
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: auth_db
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d auth_db"]
      interval: 5s
      timeout: 5s
      retries: 5

  app:
    build: .
    container_name: spring_app_v2
    ports:
      - "8080:8080"
    volumes:
      - .:/app                     # Lie ton code source au conteneur
      - maven-cache:/root/.m2      # Garde les dépendances en cache (évite le timeout TLS)
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/auth_db
      SPRING_DATASOURCE_USERNAME: user
      SPRING_DATASOURCE_PASSWORD: password
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
    # On utilise mvn au lieu de java -jar pour le rechargement
    command: mvn spring-boot:run
    depends_on:
      db:
        condition: service_healthy

volumes:
  maven-cache:                     # Volume pour stocker les librairies Maven